/*font-family///////////////////*/

@import url("https://fonts.googleapis.com/css2?family=Inika&family=Ruda&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inika&family=Inter:wght@100&family=Ruda&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  scroll-behavior: smooth;
  /* letter-spacing: 1px; */
  /* overflow-x: hidden; */
}
:root {
  --font--family: "Inika", serif;
  --font--family1: "Ruda", sans-serif;

  --text-color: #dee2da;
  --ligne-color: #f2c94c;
  --back-color: #ff5733;
  ---bg--color: #aaa;
  --black--color: black;
}

body {
  width: 100%;
  height: 100vh;
  background-image: url(./imgs/back.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  font-size: 10px;
}
header {
  height: 100px;
}
.container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 15px;
  border: 0.5px solid #dee2da;
}
.navigation .nav-links {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 2em;
  gap: 4em;
  margin-left: 500px;
}
.navigation .nav-links a {
  color: var(--text-color);
  font-family: var(--font--family);
}
.navigation .nav-links li a:hover {
  border-bottom: 2px solid var(--back-color);
  color: #ff5733;

}

.nav-links button {
  width: 100px;
  height: 30px;
  text-align: center;
  padding-bottom: 2px;
  border-radius: 10px;
  border: none;
  background-color: var(--back-color);
}

#list {
  display: none;
  width: 300px;
  height: auto;
}
.home {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-top: 200px;
  padding-left: 100px;
  height: 86vh;
}
.home-wrapper h2 {
  font-family: var(--font--family);
  color: var(--back-color);
  font-size: 3em;
}
.home-wrapper h1 {
  font-family: var(--font--family);
  color: var(--text-color);
  font-size: 6em;
}
.home-wrapper button {
  color: var(--text-color);

  padding: 10px;
  border: none;
  font-family: var(--font--family);

  background-color: var(--back-color);
  margin-top: 50px;
}
.home-wrapper button a {
  color: var(--text-color);
}
.home-wrapper button :hover {
  cursor: pointer;
  color: black;
  background-color: var(---bg--color);
}

/*programs section/////////////////////////////////////////*/

.programs {
  background-color: white;
 min-height: 70vh;
}
.pograms-grid {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 1fr 1fr 1fr;
}
.title {
  color: black;
  font-family: var(--font--family);
  font-size: 2em;

  text-align: center;
  padding-top: 10px;
}
.programs .div1 {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
  padding-left: 10px;
  letter-spacing: normal;
}

.div1-text h3 {
  font-size: 2.5em;
}
.div1-text p {
  font-size: 2em;
}

/*success stories//////////////////*/

.container-stories {
  overflow-x: hidden;
  min-height: 100vh;
  background-image: url(imgs/Rectangle\ 8.png);
}
.sotries-grid {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: repeat(2, 50%);
}

.title-stories {
  color: var(--text-color);
  font-family: var(--font--family);
  font-size: 2em;

  text-align: center;
  padding-top: 10px;
}
.com1 {
  margin-top: 0px;
  grid-column: 1;
  grid-row: 1;
  margin-left: 20px;
}
.c1 img {
  width: 20%;
  height: 20%;
}
.first-com {
  /* height: 50%; */
  background-color: var(---bg--color);
  border-radius: 10px;
  border: 1px solid transparent;
  width: 100%;
  padding: 10px 10px 10px 10px;
}
.first-com p {
  color: var(--black--color);
  font-size: 2em;
  font-family: var(--font--family1);
  padding-left: 10px;
}
.first-com h4 {
  color: var(--back-color);
  font-size: 2em;
  text-align: right;
}
.com2 {
  grid-row: 2;
  grid-column: 2;
}

.c1 img {
  width: 15%;
  height: 15%;
}

/*faq/////////////////////////////////////////////*/

.faq {
  background-color: white;
  min-height: 70vh;
}
.faq-grid {
  display: grid;
  grid-template-columns: 1;
  grid-template-rows: 85% 15%;
}
.faq h2 {
  font-family: var(--font--family);
  font-size: 2.5em;
  text-align: center;
  padding: 10px;
}
.faq-ques {
  background-color: var(--text-color);
  border: 1px solid transparent;
  border-radius: 10px;
  margin: 40px 40px 40px;
  min-height: 50vh;
}
.faq-flex {
  display: flex;
  flex-direction: column;
  align-items: space-around;
  justify-content: center;
  column-gap: 100px;
  padding: 20px;
}

.q1 {
  border: 1px solid transparent;
  background-color: white;
  color: black;
  font-family: var(--font--family1);
  font-weight: bold;
  font-size: 2em;
  height: 60px;
  padding: 10px;
  margin-bottom: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
/* answer-faq */

.answer {
  display: none;
}
.answer p {
  font-size: 2em;
  background-color: var(--text-color);
  font-family: var(--font--family);
  padding: 10px;
}
.active {
  max-height: 300px;
  display: block;
}

/*FOOTER/////////////////////////////////*/

footer {
  background-color: black;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 30% 40% 30%;

  min-height: 40vh;
  padding-left: 60px;
}

footer h6 {
  color: #ff5733;
  font-size: 2em;
  font-family: var(--font--family);
}
footer p {
  color: white;
  font-size: 1.5em;
  font-family: var(--font--family);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.phone {
  grid-column: 1;
  grid-row: 1;
  padding: 10px;
}
.adress {
  padding: 10px;
}
.email {
  padding: 10px;
}

.img-footer {
  grid-column: 1/4;
  padding-left: 50px;
}
.img-footer img {
  height: 100%;
  position: center;
}
.foot-footer {
  grid-column: 1/4;
  grid-row: 3;
}
.container-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 30px;
}
.icons {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.icons img {
  width: 20%;
  height: 20%;
}
.icons .insta {
  width: 35%;
  height: 35%;
}

/******************************************************/
/*programs****************************************/

.background-programs {
  height: 100vh;
  width: 100%;
  background-image: url(./imgs/台北-TRX-推薦\ 2.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.home-programs {
  font-family: var(--font--family);
  color: var(--back-color);
  font-size: 3em;
  margin-top: 300px;
  margin-left: 60px;
}
/*----------------------------------OUR PROGRAMS--------------------------------*/

.our-programs {
  background-color: white;
  /* min-height: 100vh; */
}
.our-programs-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 45% 45% 10%;
  gap: 20px;
}
.our-programs h1 {
  color: black;
  font-family: var(--font--family);
  font-size: 4em;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}
span {
  color: var(--back-color);
  padding-left: 5px;
}

.body-buil img {
  width: 80%;
  height: 80%;
  border-radius: 20px;
}

.body-buil {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.body-buil h4 {
  margin-bottom: 5px;
  margin-top: 8px;
  font-size: 2em;
}
.body-buil h5 {
  margin-bottom: 5px;
  color: var(--back-color);
  font-size: 2em;
  font-weight: bold;
}

/*------------------------------------------PLAN-------------*/

.plan {
  min-height: 100vh;
  background-color: black;
}
.plan-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.plan h1 {
  color: var(--back-color);
  font-family: var(--font--family);
  font-size: 4em;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}
.plan h1 span {
  color: white;
  padding-left: 5px;
}

.first-plan {
  border: 1px solid white;
  border-radius: 20px;
  margin-left: 30px;
  margin-right: 20px;
}

.first-plan:hover {
  transform: scale(1.1);
  transition: 0.2s ease;
}

.plan-grid1 {
  grid-column: 1;
}
.plan-grid2 {
  grid-column: 2;
}
.plan-grid3 {
  grid-column: 3;
}
.first-plan h1 {
  margin-bottom: 5px;
}
.first-plan .card h2 {
  color: white;
  font-size: 3em;
  font-family: var(--font--family);
  text-align: center;
  padding-top: 10px;
}
.first-plan .card h6 {
  color: white;
  font-size: 2em;
  font-family: var(--font--family);
  text-align: center;
}
.first-plan .card p {
  color: white;
  font-size: 2em;
  font-family: var(--font--family1);
  text-align: center;
  line-height: 40px;
  margin-bottom: 20px;
}

.card button {
  border: 1px solid transparent;
  background-color: #282626;
  /* display: flex; */
  width: 80%;
  height: 70px;
  font-size: 2.5em;
  font-family: var(--font--family);
  margin-left: 40px;
  margin-bottom: 20px;
}
.card button a {
  color: white;
}

/********************************signup*/
#signup {
  background-image: url(imgs/banner-bg.jpg);
  width: 100%;
  min-height: 60vh;
  background-repeat: no-repeat;
  background-size: cover;
}
.home-signup {
  display: flex;
  height: 90vh;
  align-items: center;
  margin-left: 50px;
}
.sign-up-container {
  display: flex;
  align-items: center;
  gap: 200px;
}
.sign-up {
  background-color: #aaaaaa;
  /* min-height: 100vh; */
}
.home-signup h1 {
  color: white;
  font-size: 4em;
  font-family: var(--font--family);
  margin-bottom: 40px;
}
.home-signup p {
  color: white;
  font-size: 2em;
  font-family: var(--font--family);
  width: 60%;
}
input {
  padding: 10px;
  font-size: 2em;
  margin-left: 40px;
}
input::placeholder {
  font-family: var(--font--family);
  padding-left: 5px;
}
form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
}
.rejex h3 {
  font-size: 3em;
  font-family: var(--font--family);
  color:var(--black--color);
  text-align: center;
  margin-top: 70px;
  margin-bottom: 20px;
}
.rejex button {
  cursor: pointer;
}
input:focus {
  border: 0px solid white;
}
#result {
  display: none;
  background-color: white;
  color: black;
  font-size: 2em;
  font-family: var(--font--family1);
  width: 300px;
  padding: 30px;
  border-radius: 15px;
  margin-top: 30px;
  margin-left: 200px;
  text-align: center;
}
.img img {
  border-radius: 40px;
  width: 80%;
  height: 80vh;
  margin-top: 80px;
  margin-bottom: 20px;
}
.rejex button {
  color: white;
  padding: 10px;
  background-color: var(--back-color);
  border: 1px solid transparent;
  grid-column: 1/3;
  font-size: 2.5em;
  font-family: var(--font--family);
  margin-left: 40px;
}
















/****************************************GALLERY********************************/
#gallery {
  background-image: url(imgs/game.jpg),linear-gradient(transparent,black);  
  width: 100%;
  height: 100VH;
background-position:center;
  background-size: cover;
}
.galerry-content{
  min-height:80vh ;
  background-color:white;
}
.title-galerry h2{
  color: var(--back-color);
  font-family: var(--font--family);
  font-size: 3em;
  text-align: center;
padding-top: 20px;
padding-bottom: 20px;
}
.slide-image-container img{
  width: 100%;
  height: 50vh;

  
}
.slide-image-container{
  display: flex;
  align-items: center;
  justify-content: center;
}

.dot-dot{
  text-align: center;
}
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition:0.6s ease;
  margin-top: 20px;
}
.dot.active  {
  background-color: #333;
}

.active .dot:hover {
  background-color:black;
}



/* tablette */
 @media (max-width:1023px )and (min-width:769px) {
body{
  width: 100%;
}




.pograms-grid{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-template-rows: 1fr 1fr 1fr;
}
.our-programs-grid{
  display: grid;
  grid-template-columns: repeat(2,50%);
  grid-template-rows: repeat(3,1fr);
  
}
 #myform {
  
  padding-left: 150px;
  padding-right:150px ;
  
} 
.sign-up-container{
  gap:40px
}
}





























@media (max-width: 768px) {
  * {
    overflow-x: hidden;
  }
  .home{
    padding-left: 30px;
  }
.nav-links.active {
    position: absolute;
    background-color: #aaa;
    display: block;
    width: 300px;
    height: 200px;
    top: 60px;
    right: 10px;
    padding: 1rem;
    border: 1px solid transparent;
    border-radius: 10px;
  }


  .navigation .nav-links a {
    color: black;
    font-size: 1em;
    margin-bottom: 20px;
  }
  .navigation .nav-links li{
     margin-bottom: 10px;
  }

  .navigation .nav-links button {
    width: 100%;
    margin-top: 20px;
  }
  .logo {
    width: 1000px;
    height: 40px;
  }

  #list {
    display: block;
    cursor: pointer;
  }

  /* index-media */
  .pograms-grid {
    display: flex;
    flex-direction: column;
  }

  .div1-text h3 {
    font-size: 2em;
    
  }
  .div1-text p {
    font-size: 2em;
    padding-right: 15px
  }
  .programs .div1 {
    gap: 10px;
  }
  .sotries-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
  }
  .com1 {
    grid-column: 1;
    grid-row: 1;
    margin-left: 20px;
    margin-right: 20PX;

  }
  .com2 {
    margin-left: 20px;
    grid-column: 1;
    grid-row: 2;
    margin-top: 20PX;
    margin-right: 20PX;
  }
  
  .div1 {display: flex;
    flex-direction: column;
  }
  .div1 p{
    text-align: center;
  }
  .div1 h3{
    text-align: center;
  }

  /* faq */
  .faq-grid {
    display: flex;
    flex-direction: column;
  }
  .faq-grid .q1 {
    font-size: 1.5em;
    display: flex;
    align-items: center;
    justify-content: space-around;
   
  }
  .q1{
    padding: 1px 1px 1px 3px;
    height: auto
    
  }
  .img-check{
    width: 38px;
    padding-right: 10px;
  }
 
  
  /* footer */
  footer {
    display: flex;
    flex-direction: column;
   
  }
  .img-footer {
    display: none;
  }

  /* programs-media */

  .our-programs {
    background-color: white;

  }
  .our-programs-grid {
    display: flex;
    flex-direction: column;
  
  }
  .body-buil .text {
    display: none;
  }
  .body-buil img {
    width: 50%;
    height: 50%;
    border-radius: 20px;
  }
  .our-programs h1{
    font-size: 3em;
  }
  .body-buil img {
    width: 80%;
    height: 70%;
    border-radius: 20px;
    padding-bottom: 10px;
  }

  /* plan media */

  .plan-grid {
    display: flex;
    flex-direction: column;
    gap:10px;
  }
 .plan-grid .first-plan:hover{ 
  transition:none;
  transform: none ;
  }

  /* signup */
  .img img {
    display: none;
  }
  .rejex form{
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: center;

  } 
  .sign-up-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  
}
form input{
  width: 100%;
}
form button{
  width: 100%;
}
}


/* FOOTER */
footer{
  padding-top: 10px;
  padding-left: 40px;
  padding-right: 20px;
}

/* galerry */




.slide-image-container img{
  margin-left: 20PX;
  margin-right: 20PX;
}

